*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --yellow: #ffc600;
  --black: #272727;
}

body {
  padding: 3.7%;
  background-image: linear-gradient(110deg, #f93d66, #6d47d9);
}
